@model ho.ViewModel.AccountViewModel
@{
    ViewBag.Title = "Login";
}

<div class="app signin usersession">
    <div class="session-wrapper">
        <div class="page-height-o row-equal align-middle">
            <div class="column">
                <div class="card bg-white no-border">

                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @role = "form", @class = "form-layout" }))
                        {
                            @*@Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)*@
                            <div class="text-center m-b">
                                <img src="~/Assets/icons/logo.png" alt="Alternate Text" style="width: 70px; height: 70px;" />
                                <h4 class="text-uppercase">California</h4>
                            </div>
                            <div class="form-inputs">
                                <span style="text-align:center;
                                             border: 0;
                                             color: red;
                                             height: .8em;
                                             width: 100%;
                                             margin-bottom: 1em;"
                                      class="form-control">@ViewBag.Error</span>
                                @* username *@
                                @Html.LabelFor(data => data.Account.Username, new { @class = "text-uppercase" })
                                @Html.TextBoxFor(data => data.Account.Username, new { @class = "form-control input-lg", @placeholder = "Username" })
                                @* password *@
                                @Html.LabelFor(data => data.Account.Password, new { @class = "text-uppercase" })
                                @Html.PasswordFor(data => data.Account.Password, new { @class = "form-control input-lg", @placeholder = "Passwords" })
                            </div>
                            <button class="btn btn-primary btn-block btn-lg m-b" type="submit">Login</button>
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

